<!doctype html>
<html lang="en">
    <head>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="assets/css/stylesheet.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <title>Homepage</title>
    </head>
    <body>

                <header id="navbar" role="banner">
            <div class="navbar-wrap">

                <a class="navbar-logo d-block d-lg-none" href="#">
                    <img src="assets/images/new-logo-mobile.png" height="52" class="img-responsive" />
                </a>

                <nav class="navbar navbar-expand-lg" role="navigation">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="current-puppies.html">Current Puppies</a>
                                <div class="underbar"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="puppy-gallery.html">Puppy Pictures</a>
                                <div class="underbar"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="doodle-pack.html">Our Doodle Pack</a>
                                <div class="underbar"></div>
                            </li>
                            <li class="nav-item logo-item d-none d-lg-block">
                                <a href="index.html">
                                    <div class="logo-img-wrap">
                                        <img src="assets/images/new-logo.png" class="" height="160" />
                                    </div>
                                </a>
                                <div class="navbar-greyline"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="puppy-application.html">Puppy Application</a>
                                <div class="underbar"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="puppy-deposit.html">Puppy Deposit</a>
                                <div class="underbar"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="stud-service.html">Stud Service</a>
                                <div class="underbar"></div>
                            </li>

                        </ul>
                    </div>
                </nav>

            </div>
        </header>

        <main role="main" id="app" class="container home-intro">
            <div class="row">
                <div class="col-12">

                    <h2>Goldendoodle Puppy Application</h2>

                    <p>
                        Our goldendoodles are our fur babies! We want our puppies to go to only the best homes and the
                        right fit. We check you out just like you checked us out! We also use the application to match
                        you with a puppy with the right temperament for your household. When the puppies are born we
                        watch each puppy and track them for several weeks. We will take pictures of each puppy and send
                        them to you. Local families can visit the puppies at 6 weeks to make their decision. Puppies will
                        be chosen in order of pick placement reserved when deposit is received.
                    </p>

                </div>
            </div>

            <p>&nbsp;</p>

            <div class="row justify-content-between">
                <div class="col-4">
                    <h3 class="mb-4 text-center">Payment Info</h3>

                    <p>
                        By submitting this application, you are NOT being put on the waiting list or required to put down a
                        $500 deposit. Only after approval and a deposit of $500 is received will you be added to a specific waiting list
                    </p>

                    <p>
                        The deposit for your goldendoodle puppy is $500 & goes towards the total amount of a puppy $2500. Waiting
                        list / Puppy Pick placement is ordered upon date of deposit, a first come first serve basis. The deposit
                        holds your pick placement on the waiting list.
                    </p>

                    <p>
                        If you have been approved by Portland Goldendoodles your deposit can be made on the Puppy Deposit page. Your
                        "pick placement number" in the choice of a puppy in the litter. This deposit will hold your place on our
                        reservation list in the order of deposits recieved when your application is approved.
                    </p>

                    <p>
                        This deposit is non refundable if, after reserving a puppy from Portland Goldendoodles, you decide not to
                        purchase a dog from us. On the other hand, if we cannot provide a dog for your family we will gladly
                        refund your deposit.
                    </p>
                </div>

                <div class="col-6">
                    <form method="post">
                        <h3 class="mb-4 text-center">Puppy Application</h3>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputFirstName">First Name</label>
                                <input type="text" name="firstName" class="form-control" id="inputFirstName" placeholder="First Name" v-model="form.firstName" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputLastName">Last Name</label>
                                <input type="text" name="lastName" class="form-control" id="inputLastName" placeholder="Last Name" v-model="form.lastName" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail">Email</label>
                                <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" v-model="form.email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPhone">Phone</label>
                                <input type="phone" name="phone" class="form-control" id="inputPhone" placeholder="Phone" v-model="form.phone" v-mask="phoneMask" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" name="address" class="form-control" id="inputAddress" placeholder="1234 Main St" v-model="form.address" required>
                        </div>

                        <div class="form-group">
                            <label for="inputAddress2">Address 2</label>
                            <input type="text" name="address2" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" v-model="form.address2" required>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" name="city" class="form-control" id="inputCity" placeholder="City" v-model="form.city" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">State</label>
                                <select name="state" class="form-control" id="inputState" v-model="form.state" :required="true">
                                    <option disabled value="">- choose state -</option>
                                    <option v-for="option in unitedStatesOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputZip">Zip</label>
                                <input type="text" name="zip" class="form-control" id="inputZip" v-model="form.zip" v-mask="zipMask" :maxlength="5" :required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputReferral">How did you hear about us?</label>
                            <textarea name="referral" class="form-control" id="inputReferral" placeholder="" rows="3" v-model="form.referral"></textarea>
                            <small id="inputReferralHelpBlock" class="form-text text-muted">
                                Were you referred by a breeder or a breeding association? Did you use a particular search engine?
                            </small>
                        </div>

                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gender" id="genderMale" value="male" v-model="form.gender" required>
                                        <label class="form-check-label" for="genderMale">
                                            Male
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="female" v-model="form.gender" required>
                                        <label class="form-check-label" for="genderFemale">
                                            Female
                                        </label>
                                    </div>
                                    <div class="form-check disabled">
                                        <input class="form-check-input" type="radio" name="gender" id="genderNoPreference" value="no_preference" v-model="form.gender" required>
                                        <label class="form-check-label" for="genderNoPreference">
                                            No Preference
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-group">
                            <label for="inputTemperament">What type of temperament/personality are you looking for?</label>
                            <textarea class="form-control" id="inputTemperament" name="temperament" placeholder="" rows="3" v-model="form.temperament"></textarea>
                            <small id="inputTemperamentHelpBlock" class="form-text text-muted">
                                <strong>Please Note:</strong> While your preferences are very important to us, and will most certainly be considered, the litters conceived will dictate
                                what is available. We cannot guarantee that all of your preferences will be available. We will, however, make every attempt to provide
                                you with the puppy of your dreams!
                            </small>
                        </div>

                        <div class="form-group">
                            <p>Do you own or rent your home?</p>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="home" id="radioOwn" value="own"  v-model="form.home" required>
                                <label class="form-check-label" for="radioOwn">Own</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="home" id="radioRent" value="rent" v-model="form.home" required>
                                <label class="form-check-label" for="radioRent">Rent</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <p>Do you have a fenced yard?</p>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="fenced_yard" id="radioFencedYes" value="yes" v-model="form.fencedYard" required>
                                <label class="form-check-label" for="radioFencedYes">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="fenced_yard" id="radioFencedNo" value="no" v-model="form.fencedYard" required>
                                <label class="form-check-label" for="radioFencedNo">No</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <p>Is this your first dog?</p>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="first_dog" id="radioFirstDogYes" value="yes" v-model="form.firstDog" required>
                                <label class="form-check-label" for="radioFirstDogYes">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="first_dog" id="radioFirstDogNo" value="no" v-model="form.firstDog" required>
                                <label class="form-check-label" for="radioFirstDogNo">No</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <p>Do you have any other pets?</p>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="other_pets" id="radioPetsYes" value="yes" v-model="form.otherPets" required>
                                <label class="form-check-label" for="radioPetsYes">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="other_pets" id="radioPetsNo" value="no" v-model="form.otherPets" required>
                                <label class="form-check-label" for="radioPetsNo">No</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputOtherPetsInfo">If yes, please specify:</label>
                            <textarea class="form-control" id="inputOtherPetsInfo" name="other_pets_details" placeholder="" rows="3"  v-model="form.otherPetsDetails" required></textarea>
                            <small id="inputOtherPetsInfoHelpBlock" class="form-text text-muted">
                                Specify about your other pets.
                            </small>
                        </div>

                        <div class="form-group">
                            <p>Dog related allergies in the family?</p>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="dog_allergies" id="radioDogAllergiesYes" value="yes" v-model="form.dogAllergies" required>
                                <label class="form-check-label" for="radioDogAllergiesYes">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="dog_allergies" id="radioDogAllergiesNo" value="no" v-model="form.dogAllergies" required>
                                <label class="form-check-label" for="radioDogAllergiesNo">No</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <p>Are you prepared to invest the time and care to raise a puppy?</p>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="invets_time" id="radioInvestTimeYes" value="yes" v-model="form.investTime" required>
                                <label class="form-check-label" for="radioInvestTimeYes">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="invets_time" id="radioInvestTimeNo" value="no" v-model="form.investTime" required>
                                <label class="form-check-label" for="radioInvestTimeNo">No</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <p>Are you willing to commit to vet care for the life of your dog?</p>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="vet_care" id="radioVetCareYes" value="yes" v-model="form.vetCare" required>
                                <label class="form-check-label" for="radioVetCareYes">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="vet_care" id="radioVetCareNo" value="no" v-model="form.vetCare" required>
                                <label class="form-check-label" for="radioVetCareNo">No</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <p>Will you commit to feed your dog high quality dog food?</p>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="quality_food" id="radioQualityFoodYes" value="yes" v-model="form.qualityFood" required>
                                <label class="form-check-label" for="radioQualityFoodYes">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="quality_food" id="radioQualityFoodNo" value="no" v-model="form.qualityFood" required>
                                <label class="form-check-label" for="radioQualityFoodNo">No</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <p>Are you aware of Goldendoodle grooming needs?</p>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="grooming" id="radioGroomingNeedsYes" value="yes" v-model="form.groomingNeeds" required>
                                <label class="form-check-label" for="radioGroomingNeedsYes">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="grooming" id="radioGroomingNeedsNo" value="no" v-model="form.groomingNeeds" required>
                                <label class="form-check-label" for="radioGroomingNeedsNo">No</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <p>Will you commit to dog obedience training classes?</p>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="obedience_classes" id="radioObedienceClassesYes" value="yes" v-model="form.obedienceClasses" required>
                                <label class="form-check-label" for="radioObedienceClassesYes">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="obedience_classes" id="radioObedienceClassesNo" value="no" v-model="form.obedienceClasses" required>
                                <label class="form-check-label" for="radioObedienceClassesNo">No</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <p>Will your dog be alone during the day?</p>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="left_alone" id="radioLeftAloneYes" value="yes" v-model="form.leftAlone" required>
                                <label class="form-check-label" for="radioLeftAloneYes">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="left_alone" id="radioLeftAloneNo" value="no" v-model="form.leftAlone" required>
                                <label class="form-check-label" for="radioLeftAloneNo">No</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <p>
                                Do you understand that if at any time you cannot keep your dog, that you are not to place it in a shelter,
                                but will instead contact Portland Goldendoodles to help you to re-home your dog?
                            </p>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="no_shelter" id="radioNoShelterYes" value="yes" v-model="form.noShelter" required>
                                <label class="form-check-label" for="radioNoShelterYes">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="no_shelter" id="radioNoShelterNo" value="no" v-model="form.noShelter" required>
                                <label class="form-check-label" for="radioNoShelterNo">No</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputSignature">Typing your name in this form constitutes your electronic signature.</label>
                            <textarea class="form-control" id="inputSignature" name="signature" placeholder="" rows="3" v-model="form.signature" required></textarea>
                            <small id="inputOtherPetsInfoHelpBlock" class="form-text text-muted">
                                An electronic signature (also known as an e-signature) is a simple, easy and legal way to get consent or approval on electronic documents or forms.
                            </small>
                        </div>

                        <div class="form-check form-check-inline mt-2 mb-2">
                            <input class="form-check-input" type="checkbox" name="agree_terms" id="checkboxAgreeTerms" value="1" v-model="form.agreeTerms" required>
                            <label class="form-check-label" for="checkboxAgreeTerms">I Agree to the terms</label>
                        </div>

                        <div class="form-group mt-2">
                            <button type="submit" class="btn btn-gold">Submit Application</button>
                        </div>
                    </form>
                </div>

        </main>

            <footer class="container-fluid background-darkgrey">

        <div class="row pb-3 pb-md-1 justify-content-center">
            <div class="col-12 col-md-6 mb-5 mb-md-0">
                <div class="inner-box">
                    <p align="center">Sign up for our early bird adoption and announcements newsletter!</p>
                    <form>
                        <div class="form-row justify-content-center">
                            <div class="col-6">
                                <input type="email" name="email" class="form-control" id="inputEmail" value="" placeholder="Enter your email" />
                            </div>
                            <div class="col-2">
                                <button type="submit" name="submit" class="btn btn-gold mb-2">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <div class="inner-box social-buttons">
                    <p align="center">
                        <a href="https://www.facebook.com/portlandgoldendoodles" class="facebook">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCRiWZT5IhxqqGKsFJOTSWpA" class="youtube">
                            <i class="fab fa-youtube fa-2x"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="inner-box contact-snip">
                    <p align="center">
                        Portland Goldendoodles<br \>
                        South East Portland
                    </p>
                    <p align="center">
                        <i class="fas fa-phone"></i> <a href="tel:+19254875047">(925) 487-5047</a>
                        <span class="spacer">|</span>
                        <i class="fas fa-envelope"></i> <a href="mail:PortlandGoldendoodles@gmail.com">Email Us</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row pt-4 pt-md-2 justify-content-center">
            <div class="col-12 col-md-6">
                <div class="copyright-line">
                    <p align="center">&copy; Copyright 2019. All rights reserved.</p>
                </div>
            </div>
        </div>

    </footer>

        
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>

        <script src="assets/js/vue/puppy-application.js"></script>

    </body>
</html>
